
.select-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; /* Para centrar el título y los selectores en una columna */
  }
  
  .selects-container {
    background-color: #ddd;
    border: none;
    border-radius: 6px;
    margin-top: 40px;
    display: flex;
    font-size: 18px;
    gap: 15px;
    padding: 5px; /* Espaciado entre los select */
  }
  
  .select-option {
    background-color: transparent; 
    margin-left: 20px;
  }
  
  .selectors {
    display: flex;
    background-color: transparent; 
    align-items: center;
    margin-bottom: 30px;
    gap: 15px; /* Espaciado entre los select */
  }
  
  .selects-container select {
    padding: 10px;
    border-radius: 25px;
    background-color: transparent; /* Fondo transparente */
    border: 1px solid #ccc; /* Border light grey */
    color: #333; /* Color del texto */
    font-size: 16px; /* Tamaño del texto */
    outline: none;
    cursor: pointer;
    -webkit-appearance: none; /* Elimina el estilo por defecto en Safari */
    -moz-appearance: none; /* Elimina el estilo por defecto en Firefox */
    appearance: none; /* Elimina el estilo por defecto en otros navegadores */
    transition: border 0.3s ease, box-shadow 0.3s ease;
  }
  
  .selects-container select:focus {
    border: 1px solid #999; /* Border más oscuro al enfocar */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Sombra suave al enfocar */
  }
  
  .tpt-title {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
  }
  
  .tables-price {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    width: 100%;
  }
  