.historical-prices-table {
  width: 100%;
  border-radius: 23px;
  margin-bottom: 1%;
  background-color: white !important;
  overflow: hidden; /* Asegura que el contenido no sobresalga de los bordes redondeados */
}

.table-title {
  padding: 10px;
  color: white;
  border-radius: 23px 23px 0 0;
}

.table-container {
  background-color: white;
  border-radius: 0 0 23px 23px; /* Redondea la parte inferior del contenedor */
  overflow: hidden; /* Asegura que el contenido no sobresalga de los bordes redondeados */
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white !important;
}

th, td {
  border: none; /* Quita las líneas de las celdas */
  padding: 8px;
  text-align: center;
}

.title-table-hpt {
  align-items: center;
  text-align: center;
}

/* HistoricalPricesTable.css */
/* HistoricalPricesTable.css */

/* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
  .historical-prices-table {
    width: 100% !important;
    height: auto;
    border-radius: 15px !important;
    margin-bottom: 20px;
  }

  .table-title {
    padding: 8px;
    border-radius: 15px 15px 0 0;
  }

  .title-table-hpt {
    font-size: 16px;
  }

  .table-container {
    overflow-x: auto;
  }

  table {
    font-size: 12px;
    width: max-content !important;
  }

  th, td {
    padding: 6px;
  }
}

