.home-container {
    background-color: #F5F5F5; 
    height: 100vh; 
    width: 100%; 
    margin: 0;
    padding: 0;
    
}

.logo{
    width: 250px;
}

.home-title{
    margin-bottom: -20px;
    padding: 0;
}


.home-subtitle{
    font-size: 25px;
    font-weight: 300;
}


.title-container{
    text-align: center;
}


.news-container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
}

.left-news,
.right-news {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px; /* Alinea el contenido a la derecha en left-news y a la izquierda en right-news */
}

.right-news {
    margin-left:20px;
    align-items: flex-start; /* Alinea el contenido a la izquierda */
}


.market-data{
    margin-left: 3%;
}


.trading-table{
    padding-left: 10%;
    padding-right: 10%;
}

.tables-price{
    width: 100%;
}



.select-container {
    display: flex;
    align-items: center;

  }
  
  .selects-container {
    margin-top: 60px;
    display: flex;
  }
  
  .select-option {
    margin-left: 20px; 
  }
  

  .selectors{
    margin-left: 50%;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
  }


.ad1{
    width: 100%;
    height: 140px;
    margin-top: 20px;
    object-fit: fill;
}

.ad1:hover, .ad2:hover, .ad3:hover {
    cursor:pointer
}





  @media (min-width: 768px) and (max-width: 1023px) {
    .home-container {
      height: auto;
    }
  
    .title-container {
      margin-top: 20px;
    }
  
    .logo {
      width: 220px;
    }
  
    .news-container {
      flex-direction: column;
    }
  
    .left-news,
    .right-news {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      align-items: center;
    }
  
    .trading-table {
      padding-left: 7.5%;
      padding-right: 7.5%;
    }
  
    .selectors {
      margin-left: 0;
      justify-content: center;
    }
  
    .ad1,
    .ad2,
    .ad3 {
      height: 120px;
    }
  }



  @media (max-width: 767px) {
    .home-container {
      height: auto;
    }
  
    .title-container {
      margin-top: 20px;
    }
  
    .logo {
      width: 80%;
      height: 50%;
    }
  
    .news-container {
      flex-direction: column;
    }
  
    .left-news,
    .right-news {
      width: 100%;
      margin-right: 0;
      margin-left: 0;
      align-items: center;
    }
  
    .trading-table {
      padding-left: 5%;
      padding-right: 5%;
    }
  
    .selectors {
      margin-left: 0;
      justify-content: center;
    }
  
    .ad1,
    .ad2,
    .ad3 {
      height: 100px;
    }

    .select-container {
        padding: 10px;
      }
    
      .tpt-title {
        font-size: 18px;
      }
    
      .selectors {
        flex-direction: column;
        align-items: center;
      }
    
      .selects-container {
        width: 100%;
        margin: 5px 0;
      }
    
      .tables-price {
        padding: 10px;
      }
  }