/* TopStoryNews.css */

/* Asegúrate de que el contenedor principal se comporte como una columna */
.news-card-ts {
    width: 96%;
    height: 35%;
    border-radius: 23px;
    margin-bottom: 20px;
    background-color: white;
    overflow: hidden;
}

/* Establece la disposición de los elementos internos */
.top-section {
    display: flex;
    justify-content: center;
}

/* Ajusta el tamaño de la imagen */
.news-image-large {
    width: 100%;
    height: 385.05px;
    object-fit: cover;
}

/* Alinea el texto al centro */
.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea el contenido al centro horizontalmente */
    padding: 20px;
}

/* Establece el ancho del contenido */
.news-date, .news-title-ts, .news-description-ts {
    width: 100%;
    text-align: left; /* Alinea el texto al centro */
}

/* Ajusta el estilo del título */
.news-title-ts {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}

/* Ajusta el estilo de la descripción */
.news-description-ts{
    font-size: 20px;
    color: #333;
    font-weight: 200;

}


/* En tu archivo CSS (por ejemplo, TopStoryNews.css) */

.news-card-ts {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Hereda el color del texto del padre para que coincida con el diseño */
  }
  
  .news-card-ts:hover {
    text-decoration: none; /* Asegura que el subrayado no aparezca al pasar el mouse */
    color: inherit; /* Mantiene el color del texto al pasar el mouse */
  }
  

  /* Estilos para pantallas pequeñas (móviles) */
@media (max-width: 767px) {
    .news-card-ts {
      width: 100%;
      height: auto;
      border-radius: 15px;
      margin-bottom: 20px;

    }
  
    .news-image-large {
      width: 100%;
      height: 200px;
    }
  
    .news-title-ts {
      font-size: 24px;
    }
  
    .news-description-ts {
      font-size: 16px;
    }
  }