/* TopStoryNews.css */

/* Asegúrate de que el contenedor principal se comporte como una columna */
.news-card-ts {
    width: 749.01px;
    height: 678px;      
    border-radius: 23px;
    margin-bottom: 20px;
    background-color: white;
    overflow: hidden;
}

/* Establece la disposición de los elementos internos */
.top-section {
    display: flex;
    justify-content: center;
}

/* Ajusta el tamaño de la imagen */
.news-image-large {
    width: 749.01px;
    height: 385.05px;
    object-fit: cover;
}

/* Alinea el texto al centro */
.bottom-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea el contenido al centro horizontalmente */
    padding: 20px;
}

/* Establece el ancho del contenido */
.news-date, .news-title-ts, .news-description-ts {
    width: 100%;
    text-align: left; /* Alinea el texto al centro */
}

/* Ajusta el estilo del título */
.news-title-ts {
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: 5px;
    color: #333;
}

/* Ajusta el estilo de la descripción */
.news-description-ts{
    font-size: 20px;
    color: #333;
    font-weight: 200;

}
