.price-banner-container {
    overflow: hidden;
    width: 100%;
    padding: 0;
    background-color: black;
    margin: 0;
    height: 73px; 
    display: flex;
    align-items: center;
}

.price-banner {
    display: flex;
    animation: moveLeft 12s linear infinite;
    white-space: nowrap;
    height: 100%;
    align-items: center; 
    font-size: 20px;
}

.price-bannerADD {
    color: wheat;
    margin: 0 10px; 
}

@keyframes moveLeft {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

