.price-banner-container {
    overflow: hidden;
    width: 100%;
    padding: 0;
    background-color: black;
    margin: 0;
    height: 73px; 
    display: flex;
    text-align: center;
    align-content: center;

}

.price-banner {
    display: flex;
    white-space: nowrap;
    height: 100%;
    font-size: 20px;
    text-align: center;
    align-content: center;
    margin: 0 auto;
}

.price-item {
    display: flex;
    background-color: black;
    align-items: center;    
    animation: blink 1s infinite;
    text-align: center;
    align-content: center;
    padding: 30px;

}

@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}
