/* RecentNews.css */
.news-card-recent {
    width: 80%;
    height: 212px;
    border-radius: 23px;
    margin-bottom: 20px;
    display: flex;
    background-color: white;
    overflow: hidden;
}

.news-image {
    width: 200px; 
    height: 100%;
    object-fit: cover; 
}

.news-content-recent {
    width: calc(100% - 200px); 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.news-date {
    font-size: 14px;
    color: #888;
    margin-top: 5px; 
}

.news-title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #333;
}

.news-author {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}



.news-link {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Hereda el color del texto del padre para que coincida con el diseño */
  }
  
  .news-link:hover {
    text-decoration: none; /* Asegura que el subrayado no aparezca al pasar el mouse */
    color: inherit; /* Mantiene el color del texto al pasar el mouse */
  }
  