/* RecentNews.css */
.news-card-recent {
    width: 756px;
    height: 212px;
    border-radius: 23px;
    margin-bottom: 20px;
    display: flex;
    background-color: white;
    overflow: hidden;
}

.news-image {
    width: 200px; 
    height: 100%;
    object-fit: cover; 
}

.news-content-recent {
    width: calc(100% - 200px); 
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.news-date {
    font-size: 14px;
    color: #888;
    margin-top: 5px; 
}

.news-title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #333;
}

.news-author {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}
