/* RecentNews.css */
.news-card-recent {
    width: 96.5%;
    height: 212px;
    border-radius: 23px;
    margin-bottom: 20px;
    display: flex;
    background-color: white;
   
}

.news-image {
    width: 200px; 
    height: 100%;
    object-fit: cover; 
    border-radius: 15px;
}

.recent-news

.news-content-recent {
    width: calc(100% - 200px); 
    padding-left: 20px;
    padding-right: 5%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.news-date-recent {
    margin-top: -2%;
    font-size: 14px;
    margin-bottom: 5%;
    color: #888;
}

.news-title {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #333;
}

.news-author {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}



.news-link {
    text-decoration: none; /* Elimina el subrayado del enlace */
    color: inherit; /* Hereda el color del texto del padre para que coincida con el diseño */
  }
  
  .news-link:hover {
    text-decoration: none; /* Asegura que el subrayado no aparezca al pasar el mouse */
    color: inherit; /* Mantiene el color del texto al pasar el mouse */
  }
  


  /* Estilos para pantallas pequeñas (móviles) */
@media(max-width: 767px) {
    .news-card-content {
      width: 120%;
      height: auto;
      border-radius: 15px;
      margin-bottom: 10px;
      flex-direction: column-reverse;
      justify-content: flex-start;
    }
  
    .news-image {
      width: 100%;
      height: 180px;
    }
  
    .news-content-recent {
      width: 300px !important;
      padding: 10px;
      justify-content: flex-end;
      background-color: red;
      
      
    }

    .news-title {
        margin-bottom: 0;
        margin-top: 0 !important;
        color: red;
        font-weight: 300;
        font-size: 14px !important;
        font-display: normal;
        margin-bottom: 35% !important;
    }
  
  
    .news-date,
    .news-author {
      font-size: 10px !important;
    }
    .recent-news-container{
        margin-left: 5% !important;
    }
  }
  