/* OldNews.css */
.news-card {

    height: 210px;
    border-radius: 23px;
    margin-bottom: 20px;
    display: flex;
    background-color: #f0f0f0;
    overflow: hidden;
}

.news-image {
    width: 50%;
    height: 100%;
    object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
}

.news-content-old {
    width: 500px;/* Se ajusta el ancho para dejar espacio al lado de la imagen */
    padding: 20px;
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: flex-start; /* Alinea los elementos desde la parte superior */
}

.news-date {
    font-size: 14px;
    color: #888;
}

.news-title {
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 0;
    color: #333;
}


.old-news-container{
    margin-left: 20%;
}