.price-item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-family: "Inter", sans-serif;
}

.price-item .name {
    font-weight: bold;
}

.up {
    color: green;
}

.down {
    color: red;
}
