.price-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-color: #f0f0f0;
    font-family: "Inter", sans-serif;
    color: white;
}

.price-item .name {
    font-weight: bold;
}

.up {
    color: green;
}

.down {
    color: red;
}
